@using ViewModel
@model EmployeeListViewModel

@*@{
                 FirstMVC.Models.Employee emp = (FirstMVC.Models.Employee)ViewBag.Employee;
    }*@

@*@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}*@

@section TitleSection{
    MyView
}

@section HeaderSection{

    @*<script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>*@

    @*@Scripts.Render("~/bundles/jqueryValidation")
    @Styles.Render("~/Content/themes/base/test")*@
}

@section ContentBody{
    <div id="tabs">
        @*<ul>
            <li><a href="#tabs-1">Articles 1-10</a></li>
            <li><a href="#tabs-2">Articles 11-20</a></li>
        </ul>*@
        <div id="tabs-1">
            <table border="1">
                <tr>
                    <th>Employee Name</th>
                    <th>Salary</th>
                </tr>
                @foreach (EmployeeViewModel item in Model.Employees)
                {
                    <tr>
                        <td>@item.EmployeeName</td>
                        <td style="background-color:@item.SalaryColor">@item.Salary</td>
                    </tr>
                }
            </table>
        </div>
        @{
            Html.RenderAction("GetAddNewLink");
        }
        <a href="/Employee/M1" hidden="hidden">M1</a>
        <a href="/Employee/M3" hidden="hidden">M3</a>

        @{
//Html.RenderPartial("Footer", Model.FooterData);
//MvcHtmlString result = Html.Partial("Footer", Model.FooterData);
//string finalResult = result.ToHtmlString().Replace("2017", "20000");
        }
        @*@MvcHtmlString.Create(finalResult)*@
    </div>

}
