
@section TitleSection{
    ActiveReports
}

@section HeaderSection{

    @*<script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/knockout-2.3.0.js"></script>
        <script src="~/Scripts/GrapeCity.ActiveReports.Viewer.Html.js"></script>
        <script src="~/Scripts/bootstrap-3.0.0.js"></script>
        @Styles.Render("~/Content/GrapeCity.ActiveReports.Viewer.Html")*@

    <script src="../Scripts/jquery-1.10.2.js"></script>
    <script src="../Scripts/bootstrap-3.0.0.js"></script>
    <script src="../Scripts/knockout-2.3.0.js"></script>
    <script src="../Scripts/GrapeCity.ActiveReports.Viewer.Html.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/GrapeCity.ActiveReports.Viewer.Html.css" rel="stylesheet">
    <link href="~/Content/theme-cosmo.css" rel="stylesheet">

    <script type="text/javascript">
        //var viewer = GrapeCity.ActiveReports.Viewer({
        //    element: '#viewer',
        //    reportService: {
        //        url: 'ActiveReports.ReportService.asmx'
        //    },
        //    uiType: 'desktop',
        //    reportLoaded: function () {
        //        reportsButtons.prop('disabled', false);
        //    },
        //    documentLoaded: function () {
        //        console.log(viewer.pageCount);
        //    },
        //    error: function (error) {
        //        console.log("error");
        //    }
        //});


        $(function () {
            var viewer = GrapeCity.ActiveReports.Viewer(
            {
                element: '#viewer',
                report: {
                    id: "Reports/VODITE.rdlx",
                },
                reportService: {
                    url: '../ActiveReports.ReportService.asmx'
                },
                localeUri: '../Scripts/HTML5Viewer/Localeuri.txt',
                documentLoaded: function () {
                    console.log(viewer.pageCount);
                },
                uiType: 'desktop'
            });

            $('#Param').on('input', function () {
                var outletID = $("#Param").val();
                console.log(outletID);

                var reportOption = {
                    id: 'Reports/VODITE.rdlx',
                    parameters: [{ name: 'OutletID', value: outletID }]
                };

                viewer.option("report", reportOption);
            })
        });

    </script>

}

@section ContentBody{

    <input type="number" id="Param" name="Param" value="" />
    @*<div class="container">*@
        <div id="paginator" class="pagination"></div>
        <div id="viewer" style="width: 100%; height: 600px"></div>
    @*</div>*@
}